<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Here's the Car Page/Index</h2><BR>
        <img style="width:25%" src="/images/pizza.jpg"><BR>
    <a href="/views/cats.html">Cats</a><BR>
     <a href="/views/new.html">New Cars</a><BR>
</body>
</html>