<fieldset>
  <legend>Register</legend>

  {{currentUser | json}}

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{valid | json }}
  </h1>
  <h5 *ngIf="valid" style = "color:green">Thanks for Registering {{users[users.length-1].firstName}}! You have registered with {{users[users.length-1].email}}. Have a Great Day!</h5>  <!-- THERES NO SESSION SO THIS IS NECCESARY -->
  <h5 *ngIf="!valid && message == 'Something Happened. Please Try Again' " style = "color:red">
    {{message}}. Do not leave required fields empty. </h5>  <!-- THERES NO SESSION SO THIS IS NECCESARY -->
  <!-- <h5 *ngFor="let userss of users">{{ userss }}</h5> -->
</div>
<div style="text-align:center">

<form (submit)="register()" #userForm="ngForm"> 
 First Name:<input 
    type="text" 
    name="firstName" 
    required 
    minlength="2" 
    maxlength="24"
    [(ngModel)]="user.firstName"
    #firstName='ngModel'
 />          
 <div *ngIf='firstName.errors'>
    <p *ngIf='!valid && firstName.errors.required && firstName.dirty'>first name is required</p>
    <p *ngIf='!valid && firstName.errors.minlength && firstName.dirty'>first name must be at least 2 characters</p>
    <p *ngIf='!valid && firstName.errors.maxlength && firstName.dirty'>first name must not exceed 24 characters</p>
    
</div>
             
                <BR>
  Last Name:<input 
    type="text" 
    name="lastName" 
    required 
    minlength="2" 
    maxlength="24"
    [(ngModel)]="user.lastName"
    #lastName='ngModel'
  
  />      
  <div *ngIf='lastName.errors'>
      <p *ngIf='!valid && lastName.errors.required && lastName.dirty'>Last name is required</p>
      <p *ngIf='!valid && lastName.errors.minlength && lastName.dirty'>last name must be longer than 2 characters</p>
      <p *ngIf='!valid && lastName.errors.maxlength && lastName.dirty'>last name must not exceed 24 characters</p>
      
  </div>  
  <br>
  Email:<input 
  type="text" 
  name="email" 
  required 
  minlength="4" 
  
  maxlength="24"
  [(ngModel)]="user.email"
  #email="ngModel"  
    />   
    <div *ngIf='email.errors'>
        <p *ngIf='!valid && email.errors.required  && email.dirty'>Email is required</p>
        <p *ngIf='!valid && email.errors.minlength && email.dirty'>email must have at least 7 chars and @</p>
        
    </div>
    <br>
  Password: <input 
    type="password" 
    name="password"
    required 

    pattern="^([a-zA-Z0-9@*#]{8,15})$"
    [(ngModel)]="user.password"
    #password="ngModel"
  /> <br><br>

  <div *ngIf='password.errors'>
      <p *ngIf='!valid && password.errors.required  && password.dirty'>Password is required</p>
      <p *ngIf='!valid && password.errors.pattern && password.dirty'>Password must be  between 8-14 characters</p>
  </div>

Confirm Password: <input 
  name="confirmpassword"
  type="password"
  pattern="^([a-zA-Z0-9@*#]{8,15})$"  
  required
  [(ngModel)]="user.confirmpassword"
  #confirmpassword = "ngModel"
/> <br><br>

<div *ngIf='confirmpassword.errors'>
    <p *ngIf='!valid && confirmpassword.errors.required  && confirmpassword.dirty'>Password is required</p>
    <p *ngIf='!valid && confirmpassword != user.password && confirmpassword.dirty'>Passwords must match</p>
</div>


    <button [disabled]="!userForm.valid"  style="border:none;" *ngIf='!userForm.valid'>Make sure your fields are valid!</button>
  <button *ngIf='userForm.valid' type="submit" value="Register">Register</button>
</form>
</div>


<h5 *ngFor="let userList of users">
  <div class="align">
    <li>{{userList.firstName}}</li>
    <li>{{userList.lastName}}</li>
    <li>{{userList.email}}</li>
  </div>
  </h5>
{{user | json}}
</fieldset >
