<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}
  </h1>

  <h1 *ngFor="let loggeduser of loggedList">
      Welcome, {{loggeduser.firstName | uppercase}}!
  </h1>

  
  <a style="font-size:2.5rem; text-decoration:none;" [routerLink]="['products']">Product List</a> |
  <a style="font-size:2.5rem; text-decoration:none;" [routerLink]="['createproduct']">Create Product</a> |
  <!-- <a style="font-size:2.5rem; text-decoration:none;" [routerLink]="['editproduct']">Edit Product</a> | -->
  <span *ngIf="loggedList != 0 "><a style="font-size:2.5rem; text-decoration:none;" (click)="LogoutData(0)" >Logout</a></span>
  <a style="font-size:2.5rem; text-decoration:none;" [routerLink]="['home']">Home</a> |
  
  

<router-outlet></router-outlet>
