<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<h1>TimeZone</h1>

<button type="button"(click)="FindZone('PST')"[ngClass]="{ timeZone: timeZone === 'PST'}" >Pacific</button>
<button type="button"(click)="FindZone('EST')"[ngClass]="{ timeZone: timeZone === 'EST'}" >Eastern</button>
<button type="button"(click)="FindZone('CST')"[ngClass]="{ timeZone: timeZone === 'CST'}" >Central</button>
<button type="button"(click)="FindZone('MST')"[ngClass]="{timeZone: timeZone === 'MST'}" >Mountain</button>

<!-- timezone is the object! in class -->
<BR><BR>
  <!-- [ngStyle]="{'color' : 'color'} -->
<h1 >
    <span [ngStyle]="{'color' : color}">{{ Region }}</span><BR>
  {{ today | date:'h:mm a' }}
</h1>


