<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta users="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/skeleton.css'/>   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <style>
            /* #Padding_Please{width:30%;vertical-align:top;display: inline-block; padding: 12rem; padding-top:0px;} */
    </style>
</head>

<body>

            
 
  <div style="width:100%;padding: 5rem;">
    <div id="Padding_Please">    
        <form id="Padding_Please"action='/quotes' method='post'>
        <h1 style="color:black">Welcome To Quoting Dojo</h1>
        <hr>
        <h3> Your Name:</h3><BR><BR>
        <input class="align" type="text" name ="name" value=''><BR><BR>
        <h3> Your Quote:</h3><BR><BR>
        <textarea class="align" type="text" name ="quote" value=' placeholder="Make sure your quote does not exceed 100 characters"'></textarea><BR><BR>
        <input type='submit' value='Submit'>
        </form>
    </div>
       <a href="/quotes"><button>View Quotes</button></a>

   
</div>
    </div>
    
</body>
</html>