<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div style="color:blue;padding:20px;border: 1px solid blue; margin-left: 20%; width: 30rem; text-align: center;"id="Visited"> 
            <h2 style="color:black">Counter</h2>
    <h3>
           
        <% if (count === 1) { %>
          <%= "This is your " + count + "st time visiting!" %>
        <% } %>
        <% if (count >1) { %>
            <%= count + " "  %>times
        <% } %>
    </h3>
    <form action='/reset' method='post'>
        <input type='submit' value='reset'>
    </form>
    <form action='/Add_Two' method='post'>
        <input type='submit' value='+2 Count'>
    </form>
        </div>
   
</body>
</html>