<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta users="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/skeleton.css'/>   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <style>
            #Padding_Please{width:30%;vertical-align:top;display: inline-block; padding: 12rem; padding-top:0px;}
           
        </style>
    
</head>

<body>



<div id="Padding_Please">
<table value="Squish">
<h1>Quotes</h1>
    <tr>    
            <th>Quote</th>
            <th>Author</th>
           
    </tr>
            <% if (quotes) { %>
                <% for (var i in quotes) { %>
                    <tr>
                        
                        <td><i>"<%= quotes[i].quote %>"</i></td> 
                        <td>- <b><%= quotes[i].name %> </b></td>
                    </tr> 
                <% } %>
            <% } %>
        
</table> 
<a href="/"><button>Back</button></a>
</div>
    </div>
    
</body>
</html>