<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
     {{ title }}
    </h1>
  
  
    <style>
      p {color: red}
      </style>
      
      <fieldset>
      <legend>Anonymous Notes</legend>
      <form (submit)="onSubmit()" #noteForm="ngForm">
  
      Note: 
      <input 
      type="text" 
      name="description" 
      required 
      minlength="8"
      [(ngModel)]="newProduct.description"
      #description='ngModel'
    >   <BR><BR>
    <div *ngIf='description.errors'>
      <p *ngIf='!valid && description.errors.required && description.dirty'>Product description is required</p>
      <p *ngIf='!valid && description.errors.minlength && description.dirty'>Product description must be at least 4 characters</p>
    </div>
          <button *ngIf='!noteForm.valid' [disabled]="!noteForm.valid" value="Create">Please Fill Out Valid Forms!</button>
          <button *ngIf='noteForm.valid' type="submit" value="Create">Create</button>
        </form>
    </fieldset >
    
    <app-products></app-products>
  