<BR>{{ loggedList | json}}<BR>
  
  
    <BR>
      <span style="color:green"*ngFor="let user of loggedList">
        {{user.firstName}}
        {{user.id}}<BR> 
        </span>
  
  <fieldset>
    <legend>Products</legend>
    <span *ngFor="let product of ProductList; let idx = index">
      <span *ngIf ="product.user_ == loggedList[0].id">

      <p> id: <b>{{product.user_id}}</b><BR>
          Posted By Name:  -{{product.postedBy}}<BR>
          Name: <b>{{product.productname}}</b><BR>
          Description:   "{{product.description}}"<BR>
          Price:  $ {{product.price}}.00<BR>
          MadeBy (UserId):  {{product.user_}}<BR>
      </p>
      <button  [routerLink]="['/products', product._id, idx]">Update</button>
      
      <button *ngIf="loggedList[0].id == product.user_" (click)="deleteProduct(product)">Delete</button>

    </span>
     
    </span>
    <span *ngIf="ProductList.length === 0">
      *You have posted no products! :(
    </span>
  </fieldset >
  