<style>
  p {color: red}
  </style><fieldset>
  <legend>Create New Product</legend>
  <form (submit)="onSubmit()" #productForm="ngForm">
    Product Name: 
    <input 
    type="text" 
    name="productname" 
    required 
    minlength="4"
    [(ngModel)]="newProduct.productname"
    #productname='ngModel'
 >   <BR><BR>
  <div *ngIf='productname.errors'>
    <p *ngIf='!valid && productname.errors.required && productname.dirty'>Product name is required</p>
    <p *ngIf='!valid && productname.errors.minlength && productname.dirty'>Product name must be at least 4 characters</p>
  </div>

  Description: 
  <input 
  type="text" 
  name="description" 
  required 
  minlength="8"
  [(ngModel)]="newProduct.description"
  #description='ngModel'
>   <BR><BR>
<div *ngIf='description.errors'>
  <p *ngIf='!valid && description.errors.required && description.dirty'>Product description is required</p>
  <p *ngIf='!valid && description.errors.minlength && description.dirty'>Product description must be at least 4 characters</p>
</div>

    Product Price:
    <input 
    type="number" 
    name="price" 
    required 
    [(ngModel)]="newProduct.price"
    #price='ngModel'
 >  <BR><BR>
  <div *ngIf='price.errors'>
    <p *ngIf='!valid && price.errors.required'>Price is required</p>
</div>  
      <button *ngIf='!productForm.valid' type="submit" value="Create">Please Fill Out Valid Forms!</button>
      <button *ngIf='productForm.valid' type="submit" value="Create">Create</button>
    </form>
</fieldset >

{{ productForm.valid | json }}
{{ ProductList | json}}