<fieldset>
  <legend>Places</legend>
    <div class="divy">
      <h3>Farm</h3>
      <p>Earns 2-5 gold</p>
      <button (click)="addGold('Farm')">Farm!</button>
    </div>


    <div class="divy">
        <h3>Cave</h3>
        <p>Earns 5-10 gold</p> 
        <button  (click)="addGold('Cave')">Cave!</button>  
    </div>


    <div class="divy">
        <h3>Casino</h3>
        <p>Can Earn/Lose up to 100 gold</p>
        <button (click)="addGold('Casino')" >Casino!</button>
    </div>


    <div class="divy">
        <h3>House</h3>
        <p>Earns 7-15 gold</p>
        <button (click)="addGold('House')" >House!</button>
    </div>
</fieldset>